@font-face {
    font-family: 'YunFont';
    font-display: swap;
    src: url('../font/SentyWEN2017.ttf') format('TrueType');
}

body {
    font-family: 'YunFont';
}

@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('.eot');
    src: url('.eot') format('embedded-opentype'),
        /* IE6-IE8 */
        url('.woff2') format('woff2'),
        url('.woff') format('woff'),
        /*chrome、firefox */
        /* url('.ttf') format('truetype'), */
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url('.svg') format('svg');
}